.root {
  position: relative;

  input {
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 12px 20px 12px 40px;
    font-size: 16px;

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  .search {
    position: absolute;
    left: 10px;
    top: 12px;
    width: 25px;
    height: 25px;
    opacity: 0.5;
  }

  .clear {
    position: absolute;
    right: 10px;
    top: 12px;
    width: 25px;
    height: 25px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
}